
.close:focus {

    outline: 1px dotted #fff !important;
}

.modal-body {
    /*padding: 40px!important;*/
    padding: 0 40px 0px 40px !important;
}

.modal-title {

    color: #fff;
}

.modal-header {

    background: #9C27B0;
    color: #fff !important;
}

.fa-close {
    color: #fff;
}

.heading {

    font-weight: 500 !important;
}

.subheadings {
    font-size: 12px;
    color: #9c27b0;
}


.dots {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.gallery img {

    margin-right: 10px;
}

.fs-9 {
    font-size: 9px;
}

.my-modal {
    width: 90vw; /* Occupy the 90% of the screen width */
    max-width: 60vw;
}